# gitignore file for WP Fail2Ban Redux

# Files and folders related to build/test tools
/build
/coverage
/node_modules
/vendor/
npm-debug.log
phpcs.xml
phpunit.xml
wp-cli.local.yml

# Operating system specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode 
