<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<file>tests/includes/class-wp-fail2ban-redux-logger-mock.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./wp-fail2ban-redux/classes</directory>
			<file>./wp-fail2ban-redux.php</file>
			<exclude>
				<directory suffix=".php">.</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
